include includes/head
body(class="#{locals.pageClass}")
  include includes/nav

  .row
    include includes/sidenav

    .large-9.columns.medium-8.columns
      h3 Boxlista
      .row
        .small-12.columns
          span.dynatable-custom-select Placering
            select#search-responsible(name='')
              option
                option Alla
                option Startsidan
                option Biljett
                option Backstage
          span.dynatable-custom-select Synlig/Sl채ckt
            select#search-activity(name='')
              option
                option Alla
                option Synlig
                option Sl채ckt
          span#dynatable-search-group-table.dynatable-search Search:
            input#dynatable-query-search-group-table(type='search', data-dynatable-query='search')
          table#group-table.dynamic-table
            thead
              tr
                th(data-dynatable-column="") Placering
                th(data-dynatable-column="") F채rgval
                th(data-dynatable-column="") Rubrik
                th(data-dynatable-column="") Startdatum
                th(data-dynatable-column="") Slutdatum
                th(data-dynatable-column="") Ordning
                th(data-dynatable-column="") Synlig/Sl채ckt
              tr
                td
                td
                td
                td
                td
                td
                td
              tr
                td
                td
                td
                td
                td
                td
                td

  include includes/footer