//- editor.jade
extends ../layout

block content
  section.main-content.container
    .row
      .large-3.columns.show-for-large-up
        
        .wmd-panel
          #wmd-button-bar
          textarea#wmd-input.wmd-input
            | Någon slags text
        #wmd-preview.wmd-panel.wmd-preview

  include includes/footer