//- intresselista.jade
include includes/head
body(class=locals.pageClass)
  include includes/nav
  include includes/messages
  
  .row
    include includes/sidenav

    .large-9.columns.medium-8.columns
      h3 Intresselista
      .row
        .small-12.columns
          a.button.small.right(href="/admin/editintresse/id/new") Skapa nytt intresse
        .small-12.columns
          table#list-categories.dynamic-table
            thead
              th(data-dynatable-column="") Niv책
              th(data-dynatable-column="name") Namn
              th(data-dynatable-column="") Sorteringsordning
              th(data-dynatable-column="") Undergrupp till
              th(data-dynatable-column="visible") Synlig/Sl채ckt
            tbody
              td Niv책
              td Namn
              td Sorteringsordning
              td Undergrupp till
              td Synlig/Sl채ckt
  include includes/footer