extends ../layout

block content
  section.main-content.container
    .row
      .small-2.columns
        include ../partials/adminmenu
      .small-10.columns
        .row
          .small-12.columns
            a.button.small.right(href="/admin/person/id/new") Create new
        table#list-table
          thead
            th(data-dynatable-column="FirstName") FirstName
            //th(data-dynatable-column="OwnerID") Owner Id
            th(data-dynatable-column="LastName") LastName
            th(data-dynatable-column="Email") Email
          tbody


        
