include includes/head
body(class="#{locals.pageClass}")
  include includes/nav

  .row
    include includes/sidenav

    .large-9.columns.medium-8.columns
      h3 Personregister
      .row
        .small-12.columns
          a.button.small.right(href="/admin/person/id/new") Skapa ny
        
          //- span#dynatable-search-group-table.dynatable-search Search:
          //-   input#dynatable-query-search-group-table(type='search', data-dynatable-query='search')
        .small-12.columns
          table#group-table.dynamic-table
            thead
              tr
                th(data-dynatable-column="FirstName") Förnamn
                th(data-dynatable-column="LastName") Efternamn
                th(data-dynatable-column="Comp") Företag
                th(data-dynatable-column="Email") E-post
                th(data-dynatable-column="Phone") Telefon
                th(data-dynatable-column="Cards") Koppling till kundkort
                th(data-dynatable-column="PersonCreated") Registrerad
            tbody

  include includes/footer