include includes/head
body(class="#{locals.pageClass}")
  include includes/nav
  include includes/messages
  .row
    include includes/sidenav

    .large-9.columns.medium-8.columns
      h3 Profilsidor
      .row
        .small-12.columns
          .right
            span.dynatable-custom-select Kategorier
              select#search-group(name='')
                optgroup(label="Huvudkategori")
                  option Alla
                  option Val 1
                  option Val 2
                  option Val 3
                optgroup(label="Huvudkategori")
                  option Alla
                  option Val 1
                  option Val 2
                  option Val 3
            span.dynatable-custom-select Sidtyp
              select#search-responsible(name='')
                option Alla
                option Small
                option Medium
                option Large
            span.dynatable-custom-select Topp
              select#search-activity(name='')
                option Alla
                option Topp
            span.dynatable-custom-select Synlig/Släckt
              select#search-activity(name='')
                option Alla
                option Synlig
                option Släckt
        .small-12.columns
          span#dynatable-search-group-table.dynatable-search Search:
            input#dynatable-query-search-group-table(type='search', data-dynatable-query='search')
        .small-12.columns
          table#group-table.dynamic-table
            thead
              tr
                th(data-dynatable-column="") Sidans Namn
                th(data-dynatable-column="") Företag &amp; Kontaktperson
                th(data-dynatable-column="") Sidtyp
                th(data-dynatable-column="") Giltig t.o.m.
                th(data-dynatable-column="") Topp
                th(data-dynatable-column="") Topp-period
                th(data-dynatable-column="") Synlig/Släckt
            tbody
              tr
                td Samuels sida
                td 
                  ul
                    li Samuel &amp; Samuel AB
                    li Samuel Samuelsson
                td Small
                td 2009-12-12
                td Topp
                td 
                  ul
                    li 2009-12-12 t.om. 
                    li 2009-12-12
                td
                  .red-ball
              tr
                td Johans sida
                td 
                  ul
                    li Johan &amp; Johan AB
                    li Johan Johansson
                td Medium
                td 2009-12-12
                td Topp
                td 
                  ul
                    li 2009-12-12 t.om. 
                    li 2009-12-12
                td
                  .red-ball

  include includes/footer