extends ../layout

block content
  section.main-content.container
    .row
      .small-2.columns
        ul
          li
            a(href="/admin") Admin start
          li
            a(href="/admin/prstpage") PRSTPage
      .small-10.columns
        h1 Admin pages
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
