extends ../layout

block content
  section.main-content.container
    .row
      .small-2.columns
        include ../partials/adminmenu
      .small-10.columns
        h1 Admin pages
        - for (var key in locals.usr) {
          span #{key} : #{locals.usr[key]}
          br

        - }
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
