ul.side-nav  
  li
    a(href="/admin") Admin start
  li
    a(href="/admin/newcategory") Categories
  li
    a(href="/admin/person") Person
  li
    a(href="/admin/banner") Banner
  li
    a(href="/admin/prstpage") PRSTPage
  
  
  li.divider
  li
    a(href="/admin/category") (Old Categories)
  