footer
  .container
    .row
      .small-6.small-centered.medium-4.medium-centered.large-3.large-uncentered.columns
        ul.footerribbon
          li
            a(href='/event')
              .ribbon.footer Event
          li
            a(href='/konferens')
              .ribbon.footer.conferenceribbon Konferens
          li
            a(href='/biljett')
              .ribbon.footer.ticketribbon Biljett
      .large-2.columns.show-for-large-up
        ul.footerlink
          li
            a(href='/') Startsida
          li
            a(href='/om-eventmarket') Om Eventmarket
          li
            a(href='/annonsera') Annonsera
          li
            a(href='/kontakta-oss') Kontakta oss
      .large-2.columns.show-for-large-up
        ul.footerlink
          li
            a(href='/tips') Tips & Råd
          li
            a(href='/redaktionen') Redaktionen
          li
            a(href='/bildarkiv') Bildarkiv
          li
            a(href='#') Registrera din mailadress
      .large-2.columns.show-for-large-up
        ul.footerlink
          li
            a(href='#') Skicka öppen förfrågan
          li
            a(href='/erbjudanden') Erbjudanden
          li
            a(href='/backstage/start') Backstage
      .large-3.small-12.columns
        a.th.socialmedia.show-for-large-up(href='#')
          img(src='http://placehold.it/64x64')
        .row
          .large-12.columns
            a(href='/')
              img.logo.right.show-for-large-up(src='/images/logo-white.svg')
            .row.show-for-large-up
              .large-12.columns
                p.legalnotice.text-right
                  | Copyright © 2013 Eventmarket.
                  br
                  | Alla rättigheter förbehålls.
            .row.hide-for-large-up
              .large-12.columns
                ul.mobilelist.text-center
                  li Eventmarket Svenska AB
                  li.contact 0589-180 95
                  li
                    a.contact(href='#') info@eventmarket.com
                  li
                    a(href='#') » Kontakta Oss
                  li
                    a.th.socialmedia(href='')
                      img(src='http://placehold.it/64x64')
                p.legalnotice.text-center
                  | Copyright © 2013 Eventmarket.
                  br
                  | Alla rättigheter förbehålls.
    hr.show-for-large-up
    .row
      .large-12.column.show-for-large-up
        ul.horizontallist.text-center
          li Eventmarket Svenska AB
          li Västerlånggatan 1
          li 732 30 Arboga
          li.contact 0589-180 95
          li
            a.contact(href='#') info@eventmarket.com
          li org.nr: 556550-4015