aside.left-off-canvas-menu
  ul.off-canvas-list.leftnav
    li
      a(href='/event/aktiviteter') Aktiviteter
    li
      a(href='#') Arrangörer
    li
      a(href='/event/underhallning') Underhållning
    li
      a(href='#') Föreläsare & Talare
    li
      a(href='#') Catering
    li
      a(href='#') Event & Mötesplatser
    li
      a(href='#') Konferenslokaler
    li
      a(href='#') Personal & Tjänster
    li
      a(href='#') Expo
    li
      a(href='#') Transporter
    li
      a(href='#') Teknik
    li
      a(href='#') Uthyrning
    li
      a(href='#') Övrigt
aside.right-off-canvas-menu
  a(href='/event')
    .ribbon Event
  a(href='/konferens')
    .ribbon.conferenceribbon Konferens
  a(href='/biljett')
    .ribbon.ticketribbon Biljett
  ul.off-canvas-list.rightmenu
    li
      a(href='#') Skicka öppen förfrågan
    li
      a(href='#') Erbjudande
    section.newsletter
      li
        a(href='/backstage/start') Backstage
    section.newsletter
      li
        a(href='/') Startsida
      li
        a(href='/om-eventmarket') Om Eventmarket
      li
        a(href='/annonsera') Annonsera
      li
        a(href='/tips') Tips & råd
      li
        a(href='/redaktionen') Redaktionen
      li
        a(href='/bildarkiv') Bildarkivet
      li
        a(href='#') Registrera din mailadress
      li
        a(href='/kontakta-oss') Kontakta oss
    li
      a.th.socialmedia(href='#')
        img(src='http://placehold.it/64x64')
