aside.left-off-canvas-menu
  ul.off-canvas-list.leftnav
    li
      a(href='#') Aktiviteter
    li
      a(href='#') Arrangörer
    li
      a(href='#') Underhållning
    li
      a(href='#') Föreläsare & Talare
    li
      a(href='#') Catering
    li
      a(href='#') Event & Mötesplatser
    li
      a(href='#') Konferenslokaler
    li
      a(href='#') Personal & Tjänster
    li
      a(href='#') Expo
    li
      a(href='#') Transporter
    li
      a(href='#') Teknik
    li
      a(href='#') Uthyrning
    li
      a(href='#') Övrigt
aside.right-off-canvas-menu
  a(href='#')
    .ribbon Event
  a(href='/conference.html')
    .ribbon.conferenceribbon Konferens
  a(href='#')
    .ribbon.ticketribbon Biljett
  a(href='#')
    .ribbon.backstageribbon Backstage
  ul.off-canvas-list.rightmenu
    li
      a(href='/index.html') Startsida
    li
      a(href='/about.html') Om Eventmarket
    li
      a(href='/advertising.html') Annonsera
    li
      a(href='/tips.html') Tips & råd
    li
      a(href='/offers.html') Erbjudanden
    li
      a(href='#') Julerbjudanden
    li
      a(href='#') Redaktionen
    li
      a(href='/photoarchive.html') Bildarkivet
    li
      a(href='/contact.html') Kontakta oss
    section.newsletter
      li
        a(href='#') Skicka öppen förfrågan
      li
        a(href='#') Registrera dig för nyhetsbrev
    li
      a.th.socialmedia(href='#')
        img(src='http://placehold.it/64x64')
