//- side.jade
#listaside.large-3.columns.show-for-large-up
  section.sidelist.hitlistcontainer
    img.hitlist-category-icon(src="/images/category-icon-black.svg")
    ul.side-nav.event
      li
        .ribbon.sidenav
          a(href='/event/aktiviteter') Aktviteter
      li
        .ribbon.sidenav
          a(href='/event/arrangorer') Arrangörer
      li
        .ribbon.sidenav
          a(href='/event/underhallning') Underhållning
      li
        .ribbon.sidenav
          a(href='/event/forelasare-talare') Föreläsare & Talare
      li
        .ribbon.sidenav
          a(href='/event/catering') Catering
      li
        .ribbon.sidenav
          a(href='/event/event-motesplatser') Event & Mötesplatser
      //- li
      //-   .ribbon.sidenav
      //-     a(href='#') Konferenslokaler
      li
        .ribbon.sidenav
          a(href='/event/personal-tjanster') Personal & Tjänster
      li
        .ribbon.sidenav
          a(href='/event/reklam-expo') Reklam & Expo
      li
        .ribbon.sidenav
          a(href='/event/transporter') Transporter
      li
        .ribbon.sidenav
          a(href='/event/teknik') Teknik
      li
        .ribbon.sidenav
          a(href='/event/uthyrning') Uthyrning
      li
        .ribbon.sidenav
          a(href='/event/ovrigt') Bransch-relaterat