.row.hide-for-large-up
  .small-12.columns.profileinformation
    dl.accordion
      dd
        a.gradientbutton(href='#') Familj
      dd
        a.gradientbutton(href='#') Festivaler
      dd
        a.gradientbutton(href='#') Mässor & utställningar
#ticketModal.ticket-modal.reveal-modal.medium(data-reveal='')
  .row.header.padding15
    .small-2.medium-2.large-1.columns
      h2 23
    .small-2.medium-2.large-1.columns
      p
        | Okt
        br
        | 2013
    .small-2.medium-2.large-1.columns
      p
        | Ons
        br
        | 19:00
    .small-6.medium-6.large-9.columns
      h2 Ladies Night
  .row.padding15
    .small-12.medium-12.large-9.columns
      p
        b Aros Congress center
        br
        span.uc Västerås
        br
        | Sweden
      p
        | Årets roligaste tjejfest!
        br
        | Ladies Night bjuder för åttonde året i rad på mingel, förfest, party och show.
    .small-12.medium-12.large-3.columns
      img.show-for-large-up(src='http://placehold.it/300x300')
      .cutoutribbon
        a(href='#') Köp biljetter
  .row
    .tabscontainer.small-12.columns
      dl.tabs.profilenav(data-tab='')
        dd.active
          a.text-center(href='#presentation') Mer Info
        dd
          a.text-center(href='#extraheader') Priser
        dd
          a.text-center(href='#offer') Fler Datum
      .tabs-content
        #presentation.content.active
          p First panel content goes here...
        #extraheader.content
          p Second panel content goes here...
        #offer.content
          table
            thead
              tr
                th(width='200') Datum
                th Evenemang
                th(width='250') Plats
                th(width='100')
            tbody
              tr
                td
                  .row
                    .small-12.medium-4.columns
                      h3 23
                    .small-12.medium-4.columns
                      b
                        | Okt
                        br
                        | 2013
                    .small-12.medium-4.columns
                      b
                        | Ons
                        br
                        | 19:00
                td
                  .row
                    .small-12.columns
                      b Ladies Night
                td
                  .row
                    .small-12.columns
                      b Aros Congress Center
                      br
                      span.uc Västerås
                      br
                      | Sweden
                td
                  .row
                    .small-12.columns
                      a(href='#', data-reveal-id='ticketModal')
                        .arrow
              tr
                td
                  .row
                    .small-12.medium-4.columns
                      h3 24
                    .small-12.medium-4.columns
                      b
                        | Okt
                        br
                        | 2013
                    .small-12.medium-4.columns
                      b
                        | Tors
                        br
                        | 19:00
                td
                  .row
                    .small-12.columns
                      b Ladies Night
                td
                  .row
                    .small-12.columns
                      b Conventum
                      br
                      span.uc Örebro
                      br
                      | Sweden
                td
                  .row
                    .small-12.columns
                      a(href='#')
                        .arrow
              tr
                td
                  .row
                    .small-12.medium-4.columns
                      h3 25
                    .small-12.medium-4.columns
                      b
                        | Okt
                        br
                        | 2013
                    .small-12.medium-4.columns
                      b
                        | Fre
                        br
                        | 19:00
                td
                  .row
                    .small-12.columns
                      b Ladies Night
                td
                  .row
                    .small-12.columns
                      b Conventum
                      br
                      span.uc Karlstad
                      br
                      | Sweden
                td
                  .row
                    .small-12.columns
                      a(href='#')
                        .arrow
              tr
                td
                  .row
                    .small-12.medium-4.columns
                      h3 26
                    .small-12.medium-4.columns
                      b
                        | Okt
                        br
                        | 2013
                    .small-12.medium-4.columns
                      b
                        | Lör
                        br
                        | 19:00
                td
                  .row
                    .small-12.columns
                      b Ladies Night
                td
                  .row
                    .small-12.columns
                      b Ericsson Arena
                      br
                      span.uc Stockholm
                      br
                      | Sweden
                td
                  .row
                    .small-12.columns
                      a(href='#')
                        .arrow
  a.close-reveal-modal ×
