extends ../layout

block content
  section.main-content.container
  .row
    include ../partials/side
    .small-12.medium-12.large-9.columns
      h1 Om eventmarket
      p
        | Sökportalen Eventmarket startade 1998 och samlar sen dess ALLT och ALLA inom event, konferens & aktiviteter! Hör söker du fram direktkontakter till Sveriges artister, festlokaler, konferensanläggningar, uthyrningsföretag, cateringfirmor, arrangörer. Oavsett om du planerar en privat tillställning, företagsevent eller konferens.
      .contentrow.row
        .small-12.medium-3.large-3.columns
          img(src='http://placehold.it/200x150')
        .small-12.medium-9.large-9.columns
          h3 Så här använder du sökportalen eventmarket
          p
            | Eventmarket.com erbjuder enkla sökfunktioner och direktkontakter till ett brett utbud av Sveriges artister, möteslokaler och övriga eventleverantörer. Här får du även Tips & Råd, Branschnyheter och fri kundsupport.
          a.uc(href='#') » Läs mer
      .contentrow.row
        .small-12.medium-3.large-3.columns
          img(src='http://placehold.it/200x150')
        .small-12.medium-9.large-9.columns
          h3 Historik
          p
            | Första fröet till Eventmarket.com såddes år 1995 av eventproducenten och mångsysslaren Håkan Sterner. Med (då) över 30 års erfarenhet av nöja, underhållning och arrangörsskap kände Håkan tillsammans med dpttern Jennie och hennes man Johnny...
          a.uc(href='#') » Läs mer
      .contentrow.row
        .small-12.medium-3.large-3.columns
          img(src='http://placehold.it/200x150')
        .small-12.medium-9.large-9.columns
          h3 Vår marknadsföring & utveckling
          p
            | Marknadsföring och ständig utveckling är A & O. Ta del av vår strategi för att skapa långsiktighet, få nöjda annonsörer och glada besökare!
          a.uc(href='#') » Läs mer
      .contentrow.row
        .small-12.medium-3.large-3.columns
          img(src='http://placehold.it/200x150')
        .small-12.medium-9.large-9.columns
          h3 Referenser
          p
            | Vill du veta vad sajtens medlemmar tycker om sin annonsering? Eller vad besökarna tycker om oss som sökportal?
          a.uc(href='#') » Läs mer
      .contentrow.row
        .small-12.medium-3.large-3.columns
          img(src='http://placehold.it/200x150')
        .small-12.medium-9.large-9.columns
          h3 Vill du annonsera här?
          p
            | Erbjuder du tjänster, lokaler eller produkter inom event-, mötes- & upplevelsebranschen? Ja, då skall du så klart vara sökbar här i sökportalen eventmarket. Medlemskap gör att du finns med där branschen samlas och där kunderna letar.
          a.uc(href='#') » Läs mer
// Main content end
