extends ../layout

block content
  section.main-content.container
  .row
    include ../partials/side
    .small-12.medium-12.large-9.columns
      h1 Annonsera
      p
        | Här på eventmarket.com samlas Sveriges eventleverantörer, artister och mötesanläggningar av en orsak - Att bli hittade av alla event- & mötesköpare som letar just här. Sen 1998 när sajten lanserades har 1000 och åter 1000 affärskontakter skapats! Du finns väl med här?
      .contentrow.row
        .small-12.medium-3.large-3.columns
          img(src='http://placehold.it/200x150')
        .small-12.medium-9.large-9.columns
          h3 Priser & exponering
          p
            | Medlemskap på eventmarket.com innebär effektiv marknadsföring, tydlig exponering, viktiga inlänkar & tillgångar till förfrågningar. Och inte minst - du finns med där branschen samlas och där kunderna letar.
          a.uc(href='#') » Läs mer
      .contentrow.row
        .small-12.medium-3.large-3.columns
          img(src='http://placehold.it/200x150')
        .small-12.medium-9.large-9.columns
          h3 Aktuella kampanjer
          p
            b Här hittar du specialerbjudanden och aktuella kampanjer.
          a.uc(href='#') » Läs mer
      .contentrow.row
        .small-12.medium-3.large-3.columns
          img(src='http://placehold.it/200x150')
        .small-12.medium-9.large-9.columns
          h3 Nå 20.000 via mail
          p
            | Som medlem på Eventmarket erbjuds du flera alternativ att nå ut till eventmarkets 20.000 mailregister. Köp 'frimärket' i Veckans Vykort, Annonsera i våra Temamail eller maila ut ett helt eget Partnermail.
          a.uc(href='#') » Läs mer
      .contentrow.row
        .small-12.medium-3.large-3.columns
          img(src='http://placehold.it/200x150')
        .small-12.medium-9.large-9.columns
          h3 Eventmarket i den verkliga världen
          p
            | Först och främst agerar eventmarket.com på nätet. Men vi värdesätter också det mänskliga mötet. Här kan du se våra kommande samt genomförda Meetings och Mässor genom åren.
          a.uc(href='#') » Läs mer
      .contentrow.row
        .small-12.medium-3.large-3.columns
          img(src='http://placehold.it/200x150')
        .small-12.medium-9.large-9.columns
          h3 Vår marknadsföring och utveckling
          p
            | Marknadsföring och ständig utveckling är A & O. Ta del av vår strategi för att skapa långsiktighet, få nöjda annonsörer och glada besökare!
          a.uc(href='#') » Läs mer
// Main content end
