extends ../layout

block content
  section.main-content.container
  .row
    include ../partials/side
    .small-12.medium-12.large-9.columns
      h1 Kontakta oss
      p
        | Vill du ha hjälp att hitta rätt i sökportalen? Eller vill du annonsera och hitta nya kunder här? Varmt välkommen att kontakta oss! Vi finns på plats vardagar 9.00-17.00 (lunch 12-13).
      .row
        .small-6.medium-6.large-6.columns
          ul.vcard
            li Huvudkontor & Kundsupport
            li Eventmarket Svenska AB
            li.street-adress Västerlånggatan 1
            li.zip 732 30 Arboga
            li Sverige
        .small-6.medium-6.large-6.columns
          ul.vcard
            li Tel: 0589-180 95
            li.email
              | E-post:
              a(href='mailto:info@eventmarket.com') info@eventmarket.com
            li Organisationsnummer: 556550-4015
      .contactrow.row
        .small-12.medium-2.large-2.columns
          img(src='http://placehold.it/150x150')
        .small-12.medium-10.large-10.columns
          h3 Jennie Sterner
          h6 VD & Säljare
          ul.vcard
            li 0589-180 95
            li 070-381 36 90
            li.email
              a(href='mailto:jennie@eventmarket.com') jennie@eventmarket.com
          p
            | Med stepp, sång och showdans i bagaget ansvarar Jennie sedan starten -98 för Eventmarket Svenska AB's marknadsföring och företagets utveckling, säljer annonsering, sköter kundsupport och mässarrangemang. Företaget ägs & drivs tillsammans med kollegan & kära maken Johnny. På fritiden agerar hon allt som oftast hockeyspeaker i Västerås ishall, älskar sommarstugan vid sjön och bakar bullar så ofta tid ges. En annan bästis är symaskinen och packar med tyg! Ögonstenarna i livet är de utflugna sönerna Victor, 23 & Charlie, 20. Det bästa som finns är när familjen är samlad... och när sajten rullar.
      .contactrow.row
        .small-12.medium-2.large-2.columns
          img(src='http://placehold.it/150x150')
        .small-12.medium-10.large-10.columns
          h3 Toni Lahtinen
          h6 Säljare
          ul.vcard
            li 040-692 80 77
            li.email
              a(href='mailto:toni@eventmarket.com') toni@eventmarket.com
          p
            | Med rötterna i Finland, skolåren i Arboga och efter några års studerande i Italien blev det sedemera även italiensk fru och barn. Efter ytterligare år i Arboga och några mellanår i Malmo, bor Toni idag med familjen på Malta (!) där han jobbar för eventmarket.com. Vårt alldeles egna Mumintroll har varit säljare på eventmarket sen 2003, vilket vi på huvudkontoret är mycket glada för! Fritiden ägnar Toni till familj, vänner och en stor portion av den Italienska, och numer även den Maltesiska kulturen och maten. OBS! Samtalskostnaden till soliga Malta ör samma som att ringa ett lokalt Sverigesamtal. Teknikens Under!
      .contactrow.row
        .small-12.medium-2.large-2.columns
          img(src='http://placehold.it/150x150')
        .small-12.medium-10.large-10.columns
          h3 Johnny Sterner
          h6 Ekonomi & Administration
          ul.vcard
            li 0589-180 95
            li 070-650 96 00
            li.email
              a(href='mailto:johnny@eventmarket.com') johnny@eventmarket.com
          p
            | En hejare på hocker där meriter i TV-pucken, yngre juniorlandslaget, guld i junior-SM med VIK och möngder av matcher i Arbogas A-lag hägrar. Johnny är en glad prick som sen starten -98 varit administrativ chef på eventmarket.com med ansvar för ekonomi, inköp och fakturering samt praktiska arrangemang vid mössor och meetings. Äger & driver företaget tillsammans med kollegan & frun Jennia. Tillsammans har de grabbarna Victor och Charlie. Dygnets tallriksmodell ser ut enl. följande: En stor tårtbist jobb, en nästan lika stor tårtbit hockey (tränare för VIKs J20-superelit juniorer) och resten av tårtan äts upp av familjen, sommarstugan vid sjön och alla goa vänner! Haha, hur stora tårtor finns det egentligen?
  // Main content end
