extends ../layout

block content
  section.hero
    .row
      .container
        ul.hero-orbit(data-orbit='data-orbit', data-options='bullets:false; timer: false; slide_number: false;')
          li
            img(src='http://placehold.it/1440x400', alt='slide 1')
            h1
              | Boka
              br
              | Biljetter
            p.show-for-large-up
              | Sökportal inom event, möte,
              br
              | upplevelse och expo
          li
            img(src='http://placehold.it/1440x400', alt='slide 2')
            h1
              | hej
              br
              | san
          li
            img(src='http://placehold.it/1440x400', alt='slide 3')
      .small-12.columns.hide-for-medium-up.gradientbg
        ul.footerribbon
          li
            a(href='#')
              .ribbon.footer Event
          li
            a(href='/conference.html')
              .ribbon.footer.conferenceribbon Konferens
          li
            a(href='#')
              .ribbon.footer.ticketribbon Biljett
          li
            a(href='#')
              .ribbon.footer.backstageribbon Backstage
  section.main-content.container
    .row
      #listaside.large-3.columns.show-for-large-up
        section.sidelist
          h2 Event
          ul.side-nav.event
            li
              .ribbon.sidenav
                a(href='#') Aktviteter
            li
              .ribbon.sidenav
                a(href='#') Arrangörer
            li
              .ribbon.sidenav
                a(href='#') Underhållning
            li
              .ribbon.sidenav
                a(href='#') Föreläsare & Talare
            li
              .ribbon.sidenav
                a(href='#') Catering
            li
              .ribbon.sidenav
                a(href='#') Event & Mötesplatser
            li
              .ribbon.sidenav
                a(href='#') Konferenslokaler
            li
              .ribbon.sidenav
                a(href='#') Personal & Tjänster
            li
              .ribbon.sidenav
                a(href='#') Expo
            li
              .ribbon.sidenav
                a(href='#') Transporter
            li
              .ribbon.sidenav
                a(href='#') Teknik
            li
              .ribbon.sidenav
                a(href='#') Uthyrning
            li
              .ribbon.sidenav
                a(href='#') Övrigt
      .small-12.medium-12.large-6.columns
        h1 Välkommen
        p.tagline
          | Eventmarket är sökportalen inom, event, konferens & biljett. Dvs. direktkontakter till Sveriges artister, arrangörer och övriga eventleverantörer, lokaler & platser för konferens samt festligheter och inte minst mängder av bokningsbara nöjen...
          br
          a(href='') » Visa mer
        ul.small-block-grid-1.medium-block-grid-2
          li
            a.th.blocklink(href='#')
              .title
                h2 Event
              img(src='http://placehold.it/700x700')
              .description
                p Eventmarket.com erbjuder enkla sökmotorer.
          li
            a.th.blocklink(href='#')
              .title.conference
                h2 Konferens
              img(src='http://placehold.it/700x700')
              .description
                p Eventmarket.com erbjuder enkla sökmotorer.
          li
            a.th.blocklink(href='#')
              .title.ticket
                h2 Biljett
              img(src='http://placehold.it/700x700')
              .description
                p Eventmarket.com erbjuder enkla sökmotorer.
          li
            a.th.blocklink(href='#')
              .title.backstage
                h2 Backstage
              img(src='http://placehold.it/700x700')
              .description
                p Eventmarket.com erbjuder enkla sökmotorer.
      .small-12.medium-12.large-3.columns
        section.rightsidecontent.editorial
          h2
            | Redaktionen
            ul.small-block-grid-1
              li
                h3 Veckans Vykort
                p
                  | Eventmarket.com erbjuder enkla sökfunktioner och direktkontakter till ett brett utbud av Sveriges artister, möteslokaler.
                a(href='#') Läs mer...
              li
                h3 Veckans Vykort
                p
                  | Eventmarket.com erbjuder enkla sökfunktioner och direktkontakter till ett brett utbud av Sveriges artister, möteslokaler.
                a(href='#') Läs mer...
              li
                h3 Veckans Vykort
                p
                  | Eventmarket.com erbjuder enkla sökfunktioner och direktkontakter till ett brett utbud av Sveriges artister, möteslokaler.
                a(href='#') Läs mer...
              li
                h3 Veckans Vykort
                p
                  | Eventmarket.com erbjuder enkla sökfunktioner och direktkontakter till ett brett utbud av Sveriges artister, möteslokaler.
                a(href='#') Läs mer...
              li
                h3 Veckans Vykort
                p
                  | Eventmarket.com erbjuder enkla sökfunktioner och direktkontakter till ett brett utbud av Sveriges artister, möteslokaler.
                a(href='#') Läs mer...
            .morecontent
              a(href='#') » Se fler inlägg
