extends ../layout
  
block content
  h1 Login
  form#login(method="post", action="/auth/local")
    ul
      li
        span Användarnamn
        br
        input(type="text", name="username", placeholder="Din epostadress")
      li
        span Lösenord
        br
        input(type="password" name="password")
      li
        button(type="submit") Logga in
