extends ../layout

block content
  #offerModal.offer-modal.reveal-modal.small(data-reveal)
    img(src='http://placehold.it/1000x400', alt='slide 2')
    .offer-info-container
      h2 Erbjudande
      p LiquidPro Scandinavia AB erbjuder mobila dryckes- och produktsystem som skapar nya sätt att kommunicera med din målgrupp. Eventmarketing LiquidPro Scandinavia AB erbjuder också helhets- eller delkoncept inom eventmarketing. Oavsett om det gäller en större produktlansering eller ett mindre företagsevent så tar vi fram idéer och lösningar för att skapa ett lyckat och framgångsrikt event. Basen i våra koncept är LiquidPros produkter.
      a.button Till profilsidan
    a.close-reveal-modal
      .rightribbon.ribbon.closeribbon.show-for-medium-up × Stäng
    a.close-reveal-modal
      .close.hide-for-medium-up ×
  section.hero
    .row
      .container
        ul.hero-orbit(data-orbit='', data-options='bullets:false; timer: false; slide_number: false;')
          li
            img(src='http://placehold.it/1440x400', alt='slide 1')
            h1 Erbjudanden
          li
            img(src='http://placehold.it/1440x400', alt='slide 2')
            h1
              | Hej
              br
              | San
          li
            img(src='http://placehold.it/1440x400', alt='slide 3')
  // Main content
  section.main-content.container
    .row
      .small-12.columns.offer-sorting
        a.sort.button.dropdown(href='#', data-dropdown='sort') Sortera
        br
        ul#sort.f-dropdown(data-dropdown-content='')
          li
            a(href='#') Alla
          li
            a(href='#') Jul
    .row
      .large-12.columns
        ul.small-block-grid-1.medium-block-grid-3.large-block-grid-4
          li
            a.th.blocklink(href='#' data-reveal-id="offerModal")
              img(src='http://placehold.it/700x700')
              .description.offerbox
                h4 Erbjudande
                p Eventmarket.com erbjuder enkla sökmotorer.
          li
            a.th.blocklink(href='#' data-reveal-id="offerModal")
              img(src='http://placehold.it/700x700')
              .description.offerbox
                h4 Erbjudande
                p Eventmarket.com erbjuder enkla sökmotorer.
          li
            a.th.blocklink(href='#' data-reveal-id="offerModal")
              img(src='http://placehold.it/700x700')
              .description.offerbox
                h4 Erbjudande
                p Eventmarket.com erbjuder enkla sökmotorer.
          li
            a.th.blocklink(href='#' data-reveal-id="offerModal")
              img(src='http://placehold.it/700x700')
              .description.offerbox
                h4 Erbjudande
                p Eventmarket.com erbjuder enkla sökmotorer.
          li
            a.th.blocklink(href='#' data-reveal-id="offerModal")
              img(src='http://placehold.it/700x700')
              .description.offerbox
                h4 Erbjudande
                p Eventmarket.com erbjuder enkla sökmotorer.
          li
            a.th.blocklink(href='#' data-reveal-id="offerModal")
              img(src='http://placehold.it/700x700')
              .description.offerbox
                h4 Erbjudande
                p Eventmarket.com erbjuder enkla sökmotorer.
          li
            a.th.blocklink(href='#' data-reveal-id="offerModal")
              img(src='http://placehold.it/700x700')
              .description.offerbox
                h4 Erbjudande
                p Eventmarket.com erbjuder enkla sökmotorer.
          li
            a.th.blocklink(href='#' data-reveal-id="offerModal")
              img(src='http://placehold.it/700x700')
              .description.offerbox
                h4 Erbjudande
                p Eventmarket.com erbjuder enkla sökmotorer.