extends ../layout

block content
  section.main-content.container
  .row
    include ../partials/side
    .small-12.medium-12.large-9.columns
      h1 Tips & Råd
      p
        | Här på eventmarket.com hittar du inte bara leverantörer inom hela event-, mötes- & upplevelsebranschen. Här hittar du även tips, information samt råd & idéer inför fester, konfernser, mässor och tillställningar.
      .contentrow.row
        .small-12.medium-3.large-3.columns
          img(src='http://placehold.it/200x150')
        .small-12.medium-9.large-9.columns
          h3 Konferenstips
          p
            | Det är mycket man skall tänka på när man planerar en konferens. Vilka skall delta? Vilka mål har vi? Vilket plats/anläggning skall vi välja?
          a.uc(href='#') » Läs mer
      .contentrow.row
        .small-12.medium-3.large-3.columns
          img(src='http://placehold.it/200x150')
        .small-12.medium-9.large-9.columns
          h3 Lilla monterskolan
          p
            | Under alla våra år med eventmarket.com har vi samlat på oss en hel del montererfarhenhet och mässrutiner. Dessa vill vi gärna dela med oss till er alla.
          a.uc(href='#') » Läs mer
      .contentrow.row
        .small-12.medium-3.large-3.columns
          img(src='http://placehold.it/200x150')
        .small-12.medium-9.large-9.columns
          h3 Kräftskivan
          p
            | På kräftskivan avstår vi etiketten. Här får man sörpla, suga och smaska samt spilla på sig! Och dessutom använda händerna.
          a.uc(href='#') » Läs mer
      .contentrow.row
        .small-12.medium-3.large-3.columns
          img(src='http://placehold.it/200x150')
        .small-12.medium-9.large-9.columns
          h3 Recept
          p
            b
              | Ibland dyker vi på recept som vi bara måste få dela med oss av. Här har du några.
          a.uc(href='#') » Läs mer
      .contentrow.row
        .small-12.medium-3.large-3.columns
          img(src='http://placehold.it/200x150')
        .small-12.medium-9.large-9.columns
          h3 Lite nöjes historia
          p
            | Nalen i Stockholm var nöjesvärldens mecka under 50 & 60 talet. Så här oss emellan kan jag avslöja att båda mina päron har varit med och skrivit historia just där.
          a.uc(href='#') » Läs mer
