body.offers
  .dropdown.button:after, button.dropdown:after
    border-top-color: $purple-color

  .nav-wrap .top-bar .top-bar-section ul li > a#offerbutton
    background: #333
    color: #FFF

.offerbox
  h4
    color: #fff

.offer-sorting
  margin-bottom: 20px

.offer-modal
  padding: 0
  background: $darkgrey-color

  .button, .closeribbon
    background: $purple-color

  .closeribbon:after
    border-top-color: darken($purple-color, 15%)
    border-left-color: darken($purple-color, 15%)

.offer-info-container
  padding: 30px 30px 5px 30px