.footer
  ul.title-area
    li.name
      | Eventmarket ADM v. 1.0.17

script(src='/js/jquery.min.js')
script(src='/js/foundation.min.js')
script(src='/js/jstree/jstree.min.js')
script(src='/js/dynatable/jquery.dynatable.js')
script(src='/js/datepicker/zebra_datepicker.js')
script(src='/js/runtime.js')
script(src='/js/jade.js')
script(src='/js/app.js')