.large-3.medium-4.columns
  .hide-for-small
      .sidebar
        nav
          dl.accordion(data-accordion='data-accordion')
            dd.active
                a(href='#panel1') Register &amp; CRM
                #panel1.content
                  ul.side-nav
                    li
                      a(href='/admin/kundkortlista') Kundkort
                    li
                      a(href='/admin/crm') CRM
                    li
                      a(href='/admin/personlista') Personregister
                    li
                      a(href='#') Administratörer &amp; Personal
                    li
                      a(href='/admin/intresselista') Intresselistor
              dd
                a(href='#panel2') Produkter
                #panel2.content
                  ul.side-nav
                    li
                      a(href='/admin/profilsidlista') Profilsidor
                    li
                      a(href='/admin/erbjudandelista') Erbjudande
                    li
                      a(href='#') Produkter &amp; Prislista
                    li
                      a(href='/admin/fakturalista') Fakturor
                    li
                      a(href='#') Öppen Förfrågan
                    li
                      a(href='#') Biljett
              dd
                a(href='#panel3') Inlägg
                #panel3.content
                  ul.side-nav
                    li
                      a(href='/admin/boxlista') Boxar
                    li
                      a(href='/admin/inspirationsbildslista') Inspirationsbilder
                    li
                      a(href='/admin/redaktionslista') Redaktionen
                    li
                      a(href='#') Bildarkiv
                    li
                      a(href='#') Listsidor
                    li
                      a(href='#') Infosidor &amp; Fria Sidor
                    li
                      a(href='#') Backstage-tips
                    li
                      a(href='#') Kategoriträd (inkl. Konferenskategorier)
                    li
                      a(href='#') Julkalendern